.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.item {
  display: flex;
  align-items: center;
}

.beamBlock {
  border: 1px solid #ff0000;
}

.mirror {
  border: 1px solid #0000ff;
}

.ray {
  border: 1px solid #ffff00;
}
